*{
    padding: 0;
    margin: 0;
}
.nav1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;padding: 50px;
    
   

}
.nav1 ul{
    list-style: none;
    display: flex;
    gap:10px; 
    color: rgb(84,99,111);
    font-size: 20px;
    font-family: "Great Vibes";
    
    
}
.hm{
    color: rgb(253,93,93);
}
button{
    padding: 10px;
    background-color: rgb(253,93,93);
    color: white;
    border: none;
}